<section class="panel">
  <header class="panel-heading">
    Earning Graph
    <span class="tools pull-right">
      <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
      <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
      <a class="t-close fa fa-times" href="javascript:;"></a>
    </span>
  </header>
  <div class="panel-body">

    <div class="earning-chart-space" id="dashboard-earning-chart"></div>

    <div class="row earning-chart-info">
      <div class="col-sm-3 col-xs-6">
        <h4>$ 12,37</h4>
        <small class="text-muted"> Daily Sales Report</small>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4>$ 86,69</h4>
        <small class="text-muted">Weekly Sales Report</small>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4>$ 25,9770</h4>
        <small class="text-muted">Monthly Sales Report</small>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4>$ 948,160,50</h4>
        <small class="text-muted">Yearly Sales Report</small>
      </div>

    </div>
  </div>
</section>
