<section class="panel">
  <div class="slick-carousal">
    <div class="overlay-c-bg"></div>
    <div id="news-feed" class="owl-carousel owl-theme">
      <div class="item">
        <h3 class="text-success">News</h3>
        <span class="date">12 March 2015</span>
        <h1>If today were the last day of your life, would you want to do what your are about to do today</h1>
        <div class="text-center">
          <a href="javascript:;" class="view-all">View All</a>
        </div>
      </div>
      <div class="item">
        <h3 class="text-success">News</h3>
        <span class="date">11 February 2015</span>
        <h1>SlickLab build with Boostrap latest version 3+. Its very easy to customize. Hope you enjoy it..</h1>
        <div class="text-center">
          <a href="javascript:;" class="view-all">View All</a>
        </div>
      </div>
      <div class="item">
        <h3 class="text-success">News</h3>
        <span class="date">10 January 2015</span>
        <h1>It has huge usable widgets, amazing design, clean code quality, super responsive and quick customar support.</h1>
        <div class="text-center">
          <a href="javascript:;" class="view-all">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>
