<table style="width: 100%">
  <thead>
    <tr>
      <th>Sent To</th>
      <th>Sent At</th>
      <th>Invoice Id</th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.sent_to %></td>
        <td><%= reminder.sent_at.strftime("%l:%M%p [ %d %B %Y ]") %></td>
        <td><%= reminder.invoice_id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>