<p>
  Welcome to CodePay! Your account is now active.
</p>

<p>
  Please click the link below to login to your account:
</p>

<p>
  <%= link_to "www.codepay.com/login", "www.codepay.com/login" %>
</p>

<p>
  Once authenticated, you will be able to do the following with your account:
</p>

<ul>
  <li> Pay and get paid by anyone, anywhere in the world.</li>
  <li> Create customer invoices for free.</li>
  <li> Manage your bills online for free.</li>
  <li> Keep track of where your money is going.</li>
</ul>

<p>
  Our software is designed to integrate with any accounting system, and we are working on building automatic integrations for the most popular systems. Please send us your feedback at <a href="mailto:feedback@codepay.com">"feedback@codepay.com"</a> or contact us with any questions or concerns about your account at <a href="mailto:support@codepay.com">"support@codepay.com"</a>.
</p>

<p>
  Enjoy!<br>
  CodePay
</p>
