<!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
  Electronic Payments 
  </h3>
</div>
<!-- page head end-->
<div class = "wrapper">
  <div class = "panel">
    <header class="panel-heading head-border">
      Payment Accounts
    </header>
    <section class="panel">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
           <a class="btn btn-warning" href="<%= bank_accounts_path %>">Bank Accounts</a>
           <a class="btn btn-primary" href="<%= credit_cards_path %>">Credit Cards</a>
           <a class="btn btn-info" href="<%= electronic_payments_path %>">Electronic Payments</a>
        </div>
      </div>
    </section>
    <div class="panel-body">
      <div class="row toastr-row">
      </div>
    </div>    
  </div>
</div>  