<!-- Right Slidebar start -->
<div class="sb-slidebar sb-right sb-style-overlay">
  <div class="right-bar">
    <span class="r-close-btn sb-close"><i class="fa fa-times"></i></span>
    <ul class="nav nav-tabs nav-justified-">
      <li class="active">
        <a href="#chat" data-toggle="tab">Customer Support</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active " id="chat">
        <div class="online-chat">
          <div class="online-chat-container">
            <div class="phone-list">
              <h3>+1 (510) 706-2877</h3>
              </a>
            </div>
            <div class="chat-list">
              <h3>Avoid the wait - Chat Below</h3>
              <!-- <a href="#" class="add-people tooltips" data-original-title="Add People" data-toggle="tooltip" data-placement="left">
                <i class="fa fa-plus"></i> -->
              </a>
            </div>
            <div class="side-title">
              <h2>Online Now</h2>
              <div class="title-border-row">
                <div class="title-border"></div>
              </div>
            </div>

    

            <ul class="team-list chat-list-side">
              <li>
                <a href="#">
                  <span class="thumb-small">
                    <%= image_tag("img2.jpg", class:"circle") %>
                    <i class="online dot"></i>
                  </span>
                  <div class="inline">
                    <span class="name">
                      Sean Allaband
                    </span>
                    <small class="text-muted">Founder/CEO</small>
                  </div>
                </a>
              </li>



                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Right Slidebar end -->
