<div class="modal fade" id="new-tax-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Tax</h4>
      </div>
      <div id="tax-error" class="alert alert-danger"> </div>
      <form id="tax-form">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="tax_amount">Tax Amount</label>
            <input id="tax_amount" name="tax[tax]" class="form-control" type="number" min ="0.01" step="0.01">
            <input  name="tax[tax_of]" type="hidden" class="form-control" value="Bill" >
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-contact">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>