<!-- page head start--> 
<div class="page-head">
  <h3 class="m-b-less">
  Showing News  
  </h3>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
  <!-- page start-->
  <div class="panel">

    <% if flash[:errors].present? %>
      <div class="alert alert-danger">
        <ul>
          <% flash[:errors].each do |er| %>
          <li><%= er %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <header class="panel-heading head-border">
      News Detail
    </header>
      <div class="panel-body">
        <div class="row toastr-row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="news_subject">Subject</label>
              <input id="news_subject" type="text" class="form-control"  placeholder="News Subject" value="<%= @news.subject%>" readonly >
            </div class="form-group">
            <div>
              <label class="control-label" for="news_subject">Description</label>
              <textarea id="news_description" style="max-width: 100%;" class="form-control" placeholder="News Description.." rows="8" name="news[description]" readonly><%= @news.description%></textarea>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">    
    			<div class="col-md-12">
            <%= link_to 'Back', :back, class: "btn btn-danger"%>
          </div>
    	  </div>
      </div>
  </div>
</div>
<!-- page end-->
<!--body wrapper end-->