<div class="wrapper">
  <div class="row state-overview">	
  	<div class="col-lg-3 col-sm-6">
		<section class="panel purple"> 
		  <%= render "pro_plan" %>
		</section>  	
  	</div>
  	<div class="col-lg-3 col-sm-6">
		<section class="panel purple"> 
		  <%= render "silver_plan" %>
		</section>  	
 	</div>
  	<div class="col-lg-3 col-sm-6">
		<section class="panel purple"> 
		  <%= render "gold_plan" %>
		</section>  	
  	</div>
  </div>
</div>