<section class="panel">
<header class="panel-heading head-border">
  notification
  <span class="tools pull-right">
    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
  </span>
</header>
<div class="noti-information notification-menu">
  <!--notification info start-->
  <div class="notification-list mail-list not-list">
    <a href="javascript:;" class="single-mail">
      <span class="icon bg-primary">
        <i class="fa fa-envelope-o"></i>
      </span>
      <span class="purple-color">John Doe</span> send you a mail
      <p>
      <small>Just Now</small>
      </p>
      <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-circle-o"></i>
      </span>
    </a>
    <a href="javascript:;" class="single-mail">
      <span class="icon bg-success">
        <i class="fa fa-comments-o"></i>
      </span>
      <span class="red-color">Jim Doe</span> mentioned you a post
      <p>
      <small>30 Mins Ago</small>
      </p>
      <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-circle-o"></i>
      </span>
    </a>
    <a href="javascript:;" class="single-mail">
      <span class="icon bg-warning">
        <i class="fa fa-warning"></i>
      </span> Application Error
      <p>
      <small> 2 Days Ago</small>
      </p>
      <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-circle-o"></i>
      </span>
    </a>
    <a href="javascript:;" class="single-mail">
      <span class="icon bg-dark">
        <i class="fa fa-database"></i>
      </span>
      <strong>Database Overloaded 24%</strong>
      <p>
      <small>1 Week Ago</small>
      </p>
      <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-circle"></i>
      </span>
    </a>
    <a href="javascript:;" class="single-mail">
      <span class="icon bg-danger">
        <i class="fa fa-warning"></i>
      </span>
      <strong>Server Failed Notification</strong>

      <p>
      <small>10 Days Ago</small>
      </p>
      <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-circle"></i>
      </span>
    </a>

    <a href="javascript:;" class="single-mail text-center">
      View All Notification
    </a>

  </div>
  <!--notification info end-->
</div>
</section>
