<section class="panel">
  <div class="panel-body">
    <!--monthly page view start-->
    <ul class="monthly-page-view">
      <li class="pull-left page-view-label">
        <span class="page-view-value timer" data-from="0" data-to="205" data-speed="4000">
          <!--93,205-->
        </span>
        <span>Payments Processed</span>
      </li>
      <li class="pull-right">
        <div id="page-view-graph" class="chart"></div>
      </li>
    </ul>
    <!--monthly page view end-->
  </div>
</section>

