<section class="panel" id="block-panel">
<header class="panel-heading head-border">
  mobile visit
  <span class="tools pull-right">
    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
    <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
    <a class="t-close fa fa-times" href="javascript:;"></a>
  </span>
</header>
<div class="panel-body">
  <ul class="mobile-visit">
    <li class="page-view-label">
      <span class="page-view-value"> 5,2105</span>
      <span>Unique visitors</span>
    </li>
    <li>
      <div class="easy-pie-chart">
        <div class="iphone-visitor" data-percent="45"><span>45</span>%</div>
      </div>
      <div class="visit-title">
        <i class="fa fa-apple green-color"></i>
        <span>iPhone</span>
      </div>
    </li>
    <li>
      <div class="easy-pie-chart">
        <div class="android-visitor" data-percent="40"><span>40</span>%</div>
      </div>
      <div class="visit-title">
        <i class="fa fa-android purple-color"></i>
        <span>Android</span>
      </div>
    </li>
  </ul>
</div>
</section>

