<section class="panel">
  <div class="panel-body cpu-graph">
    <div class="row">
      <div class="col-md-7">
        <div class="c-info">
          <h3>Volume Discounts</h3>
          <p>Level 5 Payment volume</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="easy-pie-chart">
          <div class="percentage-light" data-percent="33"><span>33%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
