<section class="panel">
  <div class="panel-body- weather-widget">
    <div class="weather-state">
      <span class="weather-icon">
        <i class="slicon-weather_downpour_fullmoon"></i>
      </span>

      <span class="weather-type">Storm</span>
    </div>
    <div class="weather-info">
      <span class="degree">13</span>
      <span class="weather-city">New York</span>
      <div class="switch-btn">
        <input type="checkbox" class="js-switch-small-green " checked>
      </div>
      <div class="weather-chart m-t-40" data-type="line" data-resize="true" data-height="65" data-width="100%" data-line-width="1.5" data-line-color="#0bc2af" data-spot-color="#0bc2af" data-fill-color=""  data-highlight-line-color="#0bc2af" data-spot-radius="0" data-data="[1,5,3,6,4,7,9]"></div>
    </div>

  </div>
</section>
