<!doctype html>
<html lang="en">
<head>
<style type="text/css">
<!--
.style2 {font-family: "Times New Roman", Times, serif}
.style4 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
  color:"White";
	font-size: 18px;
}
.style5 {
	font-size: 18px;
  color:"White";
	font-weight: bold;
}
-->
</style>
</head>

<body>
  <BR><BR><BR><BR><font color="36FF00">
<div align="center"><span class="style4">Thank you for submitting your contact request to CodePayer.</span></div>
<div align="center" class="style4">
  <div align="center"><BR>
  </div>
</div>
 <div align="center" class="style4"><span class="style2">We will be in contact with you shortly.</span> </div>
 <div align="center" class="style4">
   <div align="center"><BR>
    </div>
 </div>
 <div align="center">
   <p><span class="style3">Please feel free to call or email us if this matter is urgent:</span></p>
   <p><span class="style3">(510)706-2877</span></p>
   <p><span class="style3">sean@codeaccounting.com </span><BR>
      <BR>
     <%= link_to "CLICK HERE TO RETURN HOME", root_url %>     </p>
</div></font>
</body>
</html>
