<!-- page head start-->
<div class="page-head">
  <h3 class="m-b-less">
    Reports
  </h3>
  <!--<span class="sub-title">Welcome to Static Table</span>-->
</div>
<!-- page head end-->
<!--body wrapper start-->
<div class="wrapper">
  <div class="panel">
  <!--   <header class="panel-heading head-border">
      Download Reports
    </header> -->
    <% if flash[:error] %>
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:error] %>
      </div>
    <%end%>
    <div class="profile-desk" ng-app="reportsApp" ng-controller="reportsCtrl">
      <!-- <aside class="p-aside"> -->
        <form id="report-form" method="post" novalidate>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <div class="panel-body">
            <div class="row toastr-row">  
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="report_select">Select Item To Generate Report For</label>
                  <select class="form-control input-small" name="download[type]" id="report_select" ng-model="reportFor" ng-change="change_period()">
                    <option disabled selected value> -- select an option -- </option>
                    <!-- <option value="invoices">Invoice List</option> -->
                    <option value="bills">Bill List</option>
                    <option value="bills_aging">Bill's A/P Aging</option>
                    <option value="payment">Payments</option>
                    <option value="vendor_balance">Vendors Balance</option>
                    <!-- <option value="unpaid_invoices">Unpaid Invoices</option> -->
                  </select>
                </div>
                <div class="form-group start_end_date" ng-hide="reportFor==null">

                  <div ng-show="reportFor!=null && reportFor!='vendor_balance'">
                    <select class="form-control input-small" name="download[period]" id="reportPeriod" ng-model="selectedPeriod">
                      <option disabled selected value> -- select period for report-- </option>
                      <option value="single_date">Single Date</option>
                      <option value="date_interval">Date Interval</option>

                    </select>
                  </div>

                  <div class="form-group single-date" ng-show="reportFor=='vendor_balance'">
                    <label>Date:
                      <input id="particular_date" type="date" name="download[particluar_date]" class="form-control" ng-model="particularDate">
                    </label>  
                  </div>                  

                  <div class="form-group" ng-show="selectedPeriod=='date_interval'">
                    <label>From:
                      <input id="start_date" type="date" name="download[start_date]" class="form-control start-end-date" ng-model="startDate">
                    </label>  
                    <label>To:
                      <input id="end_date" type="date" name="download[end_date]" class="form-control start-end-date" ng-model="endDate">
                    </label>  
                  </div> 

                  <div class="form-group single-date" ng-show="selectedPeriod=='single_date'">
                    <label>Date:
                      <input id="single_date" type="date" name="download[single_date]" class="form-control" ng-model="singleDate">
                    </label>  
                  </div> 
                </div>
              </div>  
            </div>  
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button id="download-csv" class="report btn btn-primary" ng-disabled=checkdate()>
                  Download CSV <i class="fa fa-cloud-download" ></i>
                  </button>
                  <button id="download-pdf" class="report btn btn-primary" ng-disabled=checkdate() >
                  Download PDF <i class="fa fa-cloud-download"></i>
                  </button>
                  <button id="download-json" class="report btn btn-primary" ng-disabled=checkdate()>
                  Download JSON <i class="fa fa-cloud-download"></i>
                  </button>
                </div>  
              </div>
            </div>  
          </div>
        </form>
      <!-- </aside> -->
    </div>
  </div>
</div>
<!--body wrapper end-->
<% content_for :scripts do %>

  <script type="text/javascript">
    $('.report').click( function(event) {
      event.preventDefault();
        id = $(this).attr('id')
        if(id=="download-pdf") {
          $('#report-form').attr('action', '/reports/download_file.pdf')
          // $('#report-form').attr( 'target', '_blank')
        } else if(id=="download-csv") {
          $('#report-form').attr('action', '/reports/download_file.csv')
          // $('#report-form').attr( 'target', '')
        }
        $('#report-form').submit();
    });
    
    // $('#invoice_bill_select').on('change', function(){
    //   debugger
    //   report_for_val = $(this).children('option:selected').val();
    // });
    // $("#invoice_bill_select").live('change', function(){
    //   var value = $(this).children('option:selected').text();
    //   if(value == "Unpaid Invoices"){
    //     $('.start_end_date').hide();
    //     $('.unpaid-invoice-date').show();
    //   }
    //   else{
    //     $('.unpaid-invoice-date').hide();
    //     $('.start_end_date').show(); 
    //   }
    // });

  var app = angular.module('reportsApp', []);
   app.controller('reportsCtrl',['$scope',function($scope) {

    $scope.change_period = function(){
      if (this.reportFor == 'vendor_balance'){
            this.selectedPeriod = undefined
            this.singleDate = undefined
            this.startDate = undefined
            this.endDate = undefined
      }
      else if(this.reportFor != 'vendor_balance' && this.reportFor != undefined) 
        this.particularDate = undefined
    };

    $scope.checkdate = function(){
      if (this.selectedPeriod == "single_date") {
        if (this.singleDate != undefined){
             return false;
        }
      }
      else if(this.selectedPeriod == "date_interval") {
        if (this.startDate != undefined && this.endDate != undefined){
             return false;
        }
      }
      else if(this.selectedPeriod == undefined){
        if (this.particularDate != undefined){
            return false;
        }
      } 
      return true;
    };
  }]);

  </script>
<% end %>

