<section class="panel" style = "min-height: 278px; width: 563px;">
  <header class="panel-heading">
    News
    <span class="tools pull-right">
      <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
      <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
      <!-- <a class="t-close fa fa-times" href="javascript:;"></a> -->
    </span>
  </header>
  <div class="panel-body">   
  </div>
</section>

<style type="text/css">

  .todo-list-item{
    overflow-y: auto;
    max-height: 200px;
  }
</style>