<section class="panel" style = "min-height: 278px; width: 563px; background-color: grey;" >
  <header class="panel-heading" style="color:white">
    To Do List
    <span class="tools pull-right">
      <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
      <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
      <!-- <a class="t-close fa fa-times" href="javascript:;"></a> -->
    </span>
  </header>
  <div class="panel-body"> 
    <%if @bills.present? %> 
      <ul class="todo-list-item" id="todo-list">
        <%@bills.each do |bill|%>
        <% user = bill.creator.full_name.capitalize%>
        <li class="clearfix">
          <!-- <div class="chk-todo pull-left">
            <input type="checkbox" value="0" />
          </div> -->
          <p class="todo-title">
            Bill pay request from user "<%=user%>".
          </p>
          <div class="action-todo pull-right clearfix" style="top:5px;"> 
            <a href="<%= admins_bill_pay_request_path(bill.id) %>" class="btn btn-success" style="height:auto; width:auto;">view</a>
            <!-- <a href="" class="todo-edit"><i class="icon-pencil"></i></a> -->
            <!-- <a href="#" class="todo-remove"><i class="icon-close"></i></a> -->
          </div>
        </li>
        <%end%>
      </ul>
    <%else%>
      <p style="color:white">Nothing To Do...</p>
    <%end%>  
  </div>
</section>

<style type="text/css">

  .todo-list-item{
    overflow-y: auto;
    max-height: 200px;
  }
</style>